<!DOCTYPE html>
<html>

<head>
    <title>SG Wambach</title>

    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />

    <link href="../css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>

<div class="wrapper">
    <div class="header">
        <a href="#" class="logo"><img src="../img/logo.png" alt="Logo der Sportgemeinschaft Wambach"/></a>
        <div class="main_navigation">
            <a href="#" class="active">Startseite</a><a href="#">Sportangebote</a><a href="#">Termine</a><a href="#">Medien</a><a href="#">&Uuml;ber uns</a>
        </div>
        <form class="newsletter">
            <label for="newsletter_email">Newsletter abonnieren</label><br />
            <input type="email" id="newsletter_email" placeholder="E-Mail-Adresse"/>
            <input type="submit" value="Ok"/>
        </form>
        <div class="title_tab">SG Wambach 1956 e.V.</div>
    </div>
    <div class="stage">
        <div class="column_small">
            <a class="stage_frame stage_button" href="#"><div class="button_text">Anmeldeformular</div></a>
            <a class="stage_frame stage_button" href="#"><div class="button_text">Satzung</div></a>
            <a class="stage_frame stage_button" href="#"><div class="button_text">Hallenbelegung</div></a>
        </div>
        <div class="column_big">
            <a href="#" class="stage_frame stage_highlight stage_highlight_big">
                <img src="../img/news1.png" />
                <div class="details">
                    <p>04.07.2014 - Die SG sagt danke!</p>
                    <p>
                        Ein tolles Dauerwerbebanner schm&uuml;ckt seit einigen Tagen den "Lindenplatz" vor dem B&uuml;rgerhaus Wambach.
                    </p>
                </div>
            </a>
        </div>
        <div class="column_small">
            <a class="stage_frame stage_highlight stage_highlight_small" href="#">
                <img src="../img/news2.png" />
                <div class="details">
                    <p>Gauwandertag 2014</p>
                </div>
            </a>
            <a class="stage_frame stage_highlight stage_highlight_small" href="#">
                <img src="../img/news3.png" />
                <div class="details">
                    <p>Karfreitagswanderung</p>
                </div>
            </a>
        </div>
    </div>
    <div class="tiles">
        <div class="tile _33 x2">
            <p>Aktuelles</p>
            <a href="#" class="news_item">
                <p>SG 1956 Wambach unterwegs auf dem Soonwaldsteig</p>
                <p>10.09 - 13.092015. 3 Tage unterwegs auf den Soonwaldsteig! Sportliche Wanderungen um die 30km pro Tag!</p>
                <p>10.09.2015</p>
            </a>
            <a href="#" class="news_item">
                <p>Spiel - Spa&szlig; - Abenteuer</p>
                <p>ACHTUNG: Das Spiel-pa&szlig;-Abenteuer EVENT findet aufgrund der gro&szlig;en Teilnehmerzahl am 31.05.2015 um 10 Uhr in der Turnhalle B&auml;rstadt statt.</p>
                <p>31.05.2015</p>
            </a>
            <a href="#" class="news_item">
                <p>Gauwandertag am 14.05.2015</p>
                <p>Der Turngau S&uuml;d-Nassau l&auml;dt an Christihimmelfahrt zum traditionellen Gauwandertag nach Eltville-Erbach ein. Wir wollen gerne unseren Titel aus dem letzten Jahr verteidigen und brauchen Eure Hilfe!!!</p>
                <p>14.05.2015</p>
            </a>
        </div>
        <div class="tile _33"><p>Tanz</p></div>
        <div class="tile _33">
            <p>Termine</p>
            <a href="#" class="event">
                <p>Weihnachtsfeier</p>
                <p>06.12.2015 ganzt&auml;gig</p>
                <p>B&uuml;rgerhaus/Wambach</p>
            </a>
            <a href="#" class="event">
                <p>Halloweenwanderung</p>
                <p>30.10.2015 18:00</p>
                <p>B&uuml;rgerhaus/Wambach-Wambacher M&uuml;hle</p>
            </a>
            <a href="#" class="event">
                <p>Sch&uuml;ler- und Jugendzeltlager</p>
                <p>11.07.2015 ganzt&auml;gig</p>
                <p>Sportgel&auml;nde</p>
            </a>
            <a href="#" class="event">
                <p>Tag der offenen T&uuml;r der SG</p>
                <p>26.04.2015 ganzt&auml;gig</p>
                <p>B&uuml;rgerhaus</p>
            </a>
            <!--<a href="#" class="event">
                <p>Tanzturnier</p>
                <p>25.04.2015 15:00</p>
                <p>B&uuml;rgerhaus</p>
            </a>
            <a href="#" class="event">
                <p>Jahreshauptversammlung der SG</p>
                <p>19.02.2015 19:00</p>
                <p>B&uuml;rgerhaus</p>
            </a>
            <a href="#" class="event">
                <p>Fasching Version 2.0</p>
                <p>24.01.2015 ganzt&auml;gig</p>
                <p>Wambach/B&uuml;rgerhaus</p>
            </a>-->
        </div>
        <div class="tile _33"><p>Medien</p></div>
        <div class="tile _33"><p>Sportangebote</p></div>
        
    </div>
    <div class="welcome_text">
        <div class="heading">Willkommen bei der Sportgemeinschaft Wambach!</div>
        <p>Spalte 1. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.</p>
        <p>Spalte 2. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br /><br /> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        <p>Spalte 3. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
    </div>
    <div class="footer">
        <div class="title_tab">SG Wambach 1956 e.V.</div>
        <p>
            <a href="#">H&auml;ufig gestellte Fragen (FAQ)</a><br />
            <a href="#">Anmeldeformular</a><br />
            <a href="#">Hallenbelegung</a><br />
            <a href="#">Satzung</a><br />
            <a href="#">Impressum</a>
        </p>
        <p>
            Kontakt<br />
            Schanzenberg 31<br />
            D-65388 Schlangenbad-Wambach<br />
            +49 (0)6129 9080<br />
            diefenbach@sg1956wambach.de
        </p>
    </div>
</div>

</body>
</html>
